# Virtual environments
venv/
env/
.env/
.venv/

# Environment variables
.env

# Python cache / compiled code
__pycache__/
*.py[cod]
*$py.class

# Mac OS specific
.DS_Store

# IDEs
.vscode/
.idea/

# Logs and Temp Files
esp32_backend/log/
esp32_backend/temp_audio/
*.log
*.webm
output.wav
